# Requirements

django == 1.5.4
django-widget-tweaks = 1.3  #html form
django-simple-captcha = 0.4.4  #captcha
redis == 2.8.0
mysql-python == 1.2.4
django-grappelli == 2.4.7  #Beautify administration interface
six == 1.4.1  #a Python 2 and 3 compatibility library
PIL == 1.1.7  #Python Imaging Library
chardet == 2.1.1  
beautifulsoup4 == 4.3.2
