{% extends "lshare/interest_base.html" %}
{% load staticfiles %}

{% block title %}图片 - LetflySite{% endblock %}
{% block meta_desc %}LetflySite图片库，收集各种简单乐谱，在此与大家共赏。LetflySite是Letfly的个人网站，采用的Python Django框架开发而成，从兴趣到实践，意在学习、分享与记录。技术专注于Python与前端开发，包括Linux、Python、Java、C、团队管理、儒释道。{% endblock %}
{% block meta_keywords %}技术资料,图片库,武术{% endblock %}

{% block inner_extra_js %}
	<script src="{% static 'site/v1/js/inter_handler.js' %}"></script>
{% endblock %}

{% block container %}
	<div class="normBox">
		<div class="themeTop">
			<div class="themeTitle fltlft">
				<span class="fs36">武术 </span>
				<span class="fs24 enFont">wushu</span>
			</div>
			<div class="inCate fltrt" style="width: {{ cate_color_box_width }}px">
				<div class="cates">
					{% for cate in cates %}
						<span class="inCateColor fltlft" style="background-color: #{{ cate.color }}"></span>
					{% endfor %}
					<span class="clearfloat"></span>
				</div>
			</div>
			<div class="clearfloat"></div>
		</div>
		{% include "lshare/includes/inbox.html" %}
		{% if page_instance.has_next %}
			<div class="getMore bg1 textCenter" data-page="2"><span class="fs16">查看更多</span></div>
		{% endif %}
	<!-- end .normBox --></div>
{% endblock %}
