{% extends "theme.html" %}
{% load staticfiles%}

{% block extra_link %}
	<link href="{% static 'site/v1/css/blog.css' %}"rel="stylesheet"type="text/css">
{% endblock %}
{% block extra_js %}
	<script src="{% static 'site/v1/js/jquery-1.8.2.min.js' %}"></script>
	<script src="{% static 'site/v1/js/placeholder.js' %}"></script>
	<script>
		$(document).ready(function(){
			$.fn.placeholder();
		})
	</script>
	{% block inner_extra_js %}{% endblock %}
{% endblock%}

{% block nav_2 %}focus{% endblock %}
