{% extends 'lblog/base.html' %}
{% load staticfiles %}

{% block title %}{{ blog.title }} - 博客详情 - DannySite{% endblock %}
{% block inner_extra_js %}
	<script src="{% static 'site/v1/js/captcha.js' %}" type="text/javascript"></script>
{% endblock %}


{% block container %}
	<div class="normBox">
		{% include "lblog/includes/sidebar.html" %}
    	{% include "lblog/includes/blogbox.html" %}
		{% with comments|length as len %}
			{% if len %}
				<div class="cmtBox fltlft">
					<div id="cmtTitle">
						<span class="fs24">有<span id="cmt_count">{{ len }}</span>条留言：</span>
					</div>
					<!--{{comments}}为[<DComment: letfly: 赞！...>]-->
					{% for comment in comments %}
						{% include "lblog/includes/cmtdisplaybox.html"%}
					{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
		{% include "lblog/includes/cmtformbox.html" %}
		<div class="clearfloat"></div>
	<!-- end blog_box --></div>
{% endblock %}
