{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}欢迎来访LetflySite{% endblock %}</title>
	<meta name="description" content="{% block meta_desc %}Danny的个人网站，采用的Python Django框架开发而成，从兴趣到实践，意在学习、分享与记录。技术专注于Python与前端开发，包括Python、Django、HTML、CSS、JavaScript、Redis、Linux等。{% endblock %}">
	<meta name="keywords" content="{% block meta_keywords %}编程,Python,Django,HTML,CSS,JavaScript,Redis,Linux,PHP,个人网站{% endblock %}">
	{% block extra_metas %}
	{% endblock %}
	
	<link href="{% static 'site/v1/css/base.css' %}" rel="stylesheet" type="text/css" />
	{% block extra_link %}{% endblock %}
	{% block extra_js %}{% endblock %}
</head>

<body>
<div class="header bg1">
	<div class="varea">
		<div class="logo fltlft">
			<a href="{% url 'home' %}"><img src="{% static 'site/v1/img/LOGO.png' %}" alt="Logo for DannySite" height="19" width="120"></a>
		</div>
		<div class="nav fltrt">
			<a class="nav_btn {% block nav_1 %}{% endblock %}" href="{% url 'home' %}">首页</a>
			<a class="nav_btn {% block nav_2 %}{% endblock %}" href="{% url 'blog_home'%}">博客</a>
			<a class="nav_btn {% block nav_3 %}{% endblock %}" href="/photo/">图片</a>
			<a class="nav_btn {% block nav_4 %}{% endblock %}" href="/interest/">武术</a>
			<a class="nav_btn {% block nav_5 %}{% endblock %}" href="https://github.com/letfly/letflysite.com" target="_blank">源码</a>
			<a class="nav_btn " href="/about/">关于</a>
		</div>
		<div class="clearfloat"></div>
	</div>
</div>
<div class="container">
	{% block container %}
	{% endblock %}
</div>
<div class="footer bg1">
	<div class="varea">
		<div class="nav_buttom fltlft">
			<a class="nav_btn normDecorA" href="/">返回首页</a>
			<a class="nav_btn normDecorA" href="/about/#contact">与我联系</a>
			<a class="nav_btn normDecorA" href="/account/login/">管理登录</a>
		</div>
		<div class="copyright enFont fltrt">
			<span>Designed by <b><i>Letfly</i></b> | Copyright 2015 - 2015 <b><i>LetflyWork</i> Project</b></span>
		</div>
		<div class="clearfloat"></div>
	</div>
</div>

{% block popup %}{% endblock %}
</body>
</html>
